
    <div class="form-item">
      <label>Shop Name</label>
      <input type="text" name="ShopName" value="<%= shop.ShopName %>">
    </div>
  
    <br>
    <div class="form-item">
      <label>GRA Number</label>
      <input type="text" name="GRANumber" value="<%= shop.GRANumber %>">
    </div>
    <br>
    <div class="form-item">
      <label>Liscense Number</label>
      <input type="text" name="LiscenseNumber" value="<%= shop.LiscenseNumber %>">
    </div>
    <br>
    <div class="form-item">
      <label>RenewalDate</label>
      <input type="date" name="RenewalDate" value="<%= shop.RenewalDate == null ? '' : shop.RenewalDate.toISOString().split('T')[0] %>">
    </div>
    <br>
    <div class="form-item">
      <label>ExpiryDate</label>
      <input type="date" name="ExpiryDate" value="<%= shop.ExpiryDate == null ? '' : shop.ExpiryDate.toISOString().split('T')[0] %>">
    </div>
    <br>
    <div class="form-item">
      <label>Area</label>
      <select name= "Area">
        <option value="Al Nakheel">Al Nakheel</option>
        <option value="Al Salehiya">Al Salehiya</option>
        <option value="Dahan">Dahan</option>
        <option value="AL Kharran">AL Kharran</option>
        <option value="RAK st">RAK st</option>
        <option value="Sidroh">Sidroh</option>
        <option value="AL Qusaidt">AL Qusaidt</option>
        <option value="Kuwaiti Shopping Street">Kuwaiti Shopping Street</option>
        <option value="AL Huwaylat">AL Huwaylat</option>
        <option value="Al Jazirah Al Hamra">Al Jazirah Al Hamra</option>
        <option value="Dhayah">Dhayah</option>
        <option value="Al Dhait South">Al Dhait South</option>
        <option value="Suhaila">Suhaila</option>
        <option value="Seih Al Burairat">Seih Al Burairat</option>
        <option value="AL Mamourah">AL Mamourah</option>
        <option value="AL Rams">AL Rams</option>
        <option value="Alfulaya">Alfulaya</option>
        <option value="Khuzam">Khuzam</option>
        <option value="New RAK">New RAK</option>
        <option value="AL Digdaga">AL Digdaga</option>
        <option value="Al Hamraniyah">Al Hamraniyah</option>
        <option value="AL Mairid">AL Mairid</option>
        <option value="Julfar">Julfar</option>
        <option value="Al Manaie">Manaie</option>
        <option value="Al Dhait North">Al Dhait North</option>
        <option value="Al Sabkha">Al Sabkha</option>
        <option value="Wadi Kub">Wadi Kub</option>
        <option value="Kadra">Kadra</option>
        <option value="Shamal">Shamal</option>
        <option value="Al Hudiabah">Al Hudiabah</option>
        <option value="Business Centre">Business Centre</option>
        <option value="Al Oraibi">Al Oraibi</option>
        <option value="Sha'am">Sha'am</option>
        <option value="Shawka">Shawka</option>
        <option value="Al Nadeya">Al Nadeya</option>
        <option value="Al Riffa">Al Riffa</option>
        <option value="AL JULAN">AL JULAN</option>
        <option value="Shabiya rashid">Shabiya rashid</option>
        <option value="AL Ghayl">AL Ghayl</option>
        <option value="Saqr bin mohammed rd">Saqr bin mohammed rd</option>
        <option value="Al Juwais">Al Juwais</option>
        <option value="AL Qawasim Corniche">AL Qawasim Corniche</option>
        <option value="Masafi">Masafi</option>
        <option value="Flamingo Beach">Flamingo Beach</option>
        <option value="AL Ghubb">AL Ghubb</option>
        <option value="Adhen Village">Adhen Village</option>
        <option value="Rafaq">Rafaq</option>
        <option value="Al jeer">Al jeer</option>
        <option value="Al Hayl">Al Hayl</option>
      </select>
    </div>
    <br>
    <div class="form-item">
        <label>Contact Number</label>
        <input type="text" name="ContactNumber" value="<%= shop.ContactNumber %>">
    </div>
    <br>
    <div class="form-item">
      <label>Location Coordintes</label>
      <input type="text" name="Coordination" value="<%= shop.Coordination %>">
    </div>
    <br>
    <div class="form-item">
      <label>Certificate Validity</label>
      <select name="CertificateValidity">
        <option value="Valid">Valid</option>
        <option value="Pending">Pending</option>
        <option value="expired">Expired</option>
        <option value="Closed">Closed</option>
      </select>
    </div>
    <br>
    <div class="form-item">
      <label>Note</label>
      <input type="text" name="Note" value="<%= shop.Note %>">
    </div>
    <br>

